@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap");

:root {
  --background-color-1: #e7e7e7;
  --background-color-2: #c9c9c9;
  --background-color-3: #9c9c9c;
  --background-bttn-1: cornflowerblue;
  --title-color-1: #000;
  --menu-color-1: #fff;
  --text-color-1: #686868;
  --bttn-color-1: cornflowerblue;
  --border-color-1: #000;
  --arrow-bk-color: #686868;
  --arrow-color: #fff;
}

* {
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: 'Roboto';
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

#start {
  height: 100vh;
  background-color: var(--background-color-1);
  user-select: none;
}

.header {
  height: 3em;
  top: 0;
  background-color: black;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

.dark-button {
  margin-left: 1em;
  background-color: transparent;
  height: 2em;
  width: 2em;
  justify-self: center;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.sun {
  position: absolute;
  color: #fdfdc2;
  background-color: transparent;
}

.moon {
  position: absolute;
  color: #fdfdc2;
  background-color: transparent;
}

.hide-dark {
  color: #00000000;
}

.menu {
  display: flex;
  flex-direction: row;
}

.menu li {
  list-style: none;
  margin: 0em 2em;
  font-weight: 700;
}

.menu a {
  color: var(--menu-color-1);
  font-size: 1rem;
  text-decoration: none;
}

a {
  text-decoration: none;
}

.menu a:visited {
  text-decoration: none;
  color: var(--menu-color-1);
}

li a:hover {
  color: cornflowerblue;
  cursor: pointer;
}

.icon {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  margin: 0.5em;
}

.text h1,
.text h2,
.text p {
  text-align: center;
}

.welcome {
  letter-spacing: 0.5em;
  font-weight: 100;
  text-transform: uppercase;
  color: var(--title-color-1);
}

.title {
  color: var(--title-color-1);
  font-weight: 400;
  font-size: 2rem;
}

.title span {
  justify-self: center;
  color: cornflowerblue;
  font-weight: 700;
  font-size: 2.5rem;
}

.description {
  color: var(--title-color-1);
}

.bttn-portfolio,
.bttn-portfolio:visited {
  margin-top: 2em;
  border: solid var(--border-color-1) 0.2em;
  width: 10em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bttn-color-1);
  border-radius: 30px;
  font-size: 1.2rem;
  color: var(--border-color-1);
  transition: 0.5s;
}

.bttn-portfolio:hover {
  background-color: var(--bttn-color-2);
}

.go-top-button {
  position: fixed;
  right: 0;
  margin-right: 1.5em;
  bottom: 2em;
  padding: 0.7em 0.9em;
  background-color: var(--arrow-bk-color);
  border-radius: 50px;
  transition: 0.5s;
  animation: arrow-move infinite 1s;
}
.go-top-button:hover {
  background-color: cornflowerblue;
}

.arrow {
  color: var(--arrow-color);
}

@keyframes arrow-move {
  0% {
    bottom: 1.5em;
  }
  50% {
    bottom: 2em;
  }
  100% {
    bottom: 1.5em;
  }
}

#aboutme {
  height: 100vh;
  background-color: var(--background-color-2);
}

@media screen and (max-width: 700px) {
  html {
    font-size: 13px;
  }

  body {
    margin: 0;
    padding: 0;
  }

  .header {
    height: 4em;
    display: flex;
    align-items: center;
  }

  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  a {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 481px) {
  html {
    font-size: 10px;
  }

  .menu a {
    display: none;
  }

  .icon {
    align-self: flex-end;
    margin-right: 1.5em;
    margin-bottom: 0.7em;
    display: block;
    color: white;
  }

  .header.active {
    display: flex;
    flex-direction: column;
    height: 12rem;
  }

  .dark-button.active{
    margin-top: 1em;
    align-self: flex-start;
    display: block;
  }

  .active a{
    display: flex;
    padding: 0;
    font-size: 1.3rem;
  }
  
  .active .menu{
    padding: 0;
  }

  .text{
    font-size: 16px;
  }

}
