@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap);
:root {
  --background-color-1: #e7e7e7;
  --background-color-2: #c9c9c9;
  --background-color-3: #9c9c9c;
  --background-bttn-1: cornflowerblue;
  --title-color-1: #000;
  --title-color-2: cornflowerblue;
  --menu-color-1: #fff;
  --text-color-1: #686868;
  --bttn-color-1: cornflowerblue;
  --border-color-1: #000;
  --arrow-bk-color: #686868;
  --arrow-color: #fff;
  --border-color-2: #e7e7e7;
  --bttn-color-2: #1871d8;
}
* {
  box-sizing: border-box;
  flex-wrap: wrap;
  font-family: Roboto;
}
html {
  scroll-behavior: smooth;
  font-size: 16px;
}
body {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.start {
  height: 100vh;
  background-color: var(--background-color-1);
  user-select: none;
}
.header {
  height: 3em;
  top: 0;
  background-color: #000;
  position: fixed;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}
.dark-button {
  margin-left: 1em;
  background-color: transparent;
  height: 2em;
  width: 2em;
  justify-self: center;
  align-self: center;
  display: flex;
  align-content: center;
  justify-content: center;
}

.dark-button__sun {
  position: absolute;
  color: #fdfdc2;
  background-color: transparent;
}
.dark-button__moon {
  position: absolute;
  color: #fdfdc2;
  background-color: transparent;
}
.hide-dark {
  color: #00000000;
}
.header__menu {
  display: flex;
  flex-direction: row;
}

li {
  list-style: none;
}

.header__li {
  margin: 0 2em;
  font-weight: 700;
}

a,
a:visited {
  text-decoration: none;
  color: var(--menu-color-1);
}

.header__a {
  font-size: 1rem;
}

a:hover {
  color: #6495ed;
  cursor: pointer;
}

.header__icon {
  display: none;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  flex-wrap: wrap;
  margin: 0.5em;
}

.title,
.title-2,
.simple-text {
  text-align: center;
}

.simple-text {
  color: var(--title-color-1);
}

.title {
  color: var(--title-color-1);
  letter-spacing: 0.5em;
  font-weight: 100;
  text-transform: uppercase;
}

.title-2 {
  color: var(--title-color-2);
  text-decoration: underline 0.2em;
}

.start__title {
  color: var(--title-color-1);
  font-weight: 400;
  font-size: 2rem;
  text-decoration: none;
}

.start__title span {
  justify-self: center;
  color: #6495ed;
  font-weight: 700;
  font-size: 2.5rem;
}

.bttn,
.bttn:hover {
  margin-top: 2em;
  border: solid var(--border-color-1) 0.2em;
  width: 10em;
  height: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bttn-color-1);
  border-radius: 30px;
  font-size: 1.2rem;
  color: var(--border-color-1);
  transition: 0.5s;
}

.bttn:hover {
  background-color: var(--bttn-color-2);
}

.go-top-button {
  position: fixed;
  right: 0;
  margin-right: 1.5em;
  bottom: 2em;
  padding: 0.7em 0.9em;
  background-color: var(--arrow-bk-color);
  border-radius: 50px;
  transition: 0.5s;
  animation: arrow-move infinite 1s;
}

.go-top-button:hover {
  background-color: #6495ed;
}

.arrow {
  color: var(--arrow-color);
}

@keyframes arrow-move {
  0% {
    bottom: 1.5em;
  }
  50% {
    bottom: 2em;
  }
  100% {
    bottom: 1.5em;
  }
}

.aboutme {
  height: 96vh;
  background-color: var(--background-color-2);
  overflow: hidden;
}

.aboutme__card {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  width: 100%;
  flex-wrap: wrap;
  margin: 1em;
}

.aboutme__picture {
  height: 35em;
  width: 26em;
  border: solid 0.5rem var(--border-color-2);
  border-radius: 25px;
  position: relative;
}
.aboutme__flip-card {
  background-color: transparent;
  height: 35em;
  width: 26em;
  left: 1em;
  perspective: 1000px;
}
.aboutme__flip-card-inner {
  position: relative;
  width: 26em;
  height: 35em;
  text-align: center;
  transition: transform 1s;
  transform-style: preserve-3d;
}
.aboutme__flip-card-inner:hover {
  transform: rotateY(180deg);
}
.aboutme__flip-card-back,
.aboutme__flip-card-front {
  position: absolute;
  width: 26em;
  height: 35em;
  border-radius: 25px;
  backface-visibility: hidden;
}
.aboutme__flip-card-back {
  border: solid 0.5rem var(--border-color-2);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(135deg, #a63cc7, #7127e9, #6495ed, #53cbf0);
  background-size: 200% 200%;
  animation: gradient 6s infinite;
  color: #fff;
  font-weight: 700;
  text-shadow: -2px 2px 2px #000;
  transform: rotateY(180deg);
}
@keyframes gradient {
  0% {
    background-position: 0 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}

.aboutme__title-2,
.aboutme__p {
  text-align: left;
}

.aboutme__text {
  font-weight: 700;
  margin: 2em;
}

.aboutme__download,
.aboutme__download:hover {
  margin-top: 1em;
}


@media screen and (max-width: 1318px) {
  .aboutme__card {
    margin-top: 3em;
    margin-bottom: 0em;
  }

  .aboutme__picture,
  .aboutme__flip-card,
  .aboutme__flip-card-back,
  .aboutme__flip-card-front,
  .aboutme__flip-card,
  .aboutme__flip-card-inner {
    width: 20em;
    height: 25em;
  }

  .aboutme__card {

    flex-direction: column;
    justify-content: center;
  }

  .aboutme__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    margin-bottom: 2em;
  }

  .aboutme__title-2,
  .aboutme__p {
    text-align: center;
  }
}

@media screen and (max-width: 700px) {
  html {
    font-size: 13px;
  }
  body {
    margin: 0;
    padding: 0;
  }
  .header {
    height: 4em;
    display: flex;
    align-items: center;
  }
  li {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  a {
    font-size: 1.5rem;
  }

  .aboutme__picture,
  .aboutme__flip-card,
  .aboutme__flip-card-back,
  .aboutme__flip-card-front,
  .aboutme__flip-card,
  .aboutme__flip-card-inner {
    width: 20em;
    height: 25em;
  }

  .aboutme__text {
    font-size: 1rem;
  }

  .aboutme__title-2,
  .aboutme__p {
    text-align: center;
  }
}
@media screen and (max-width: 481px) {
  html {
    font-size: 10px;
  }
  .header__a {
    display: none;
  }
  .header__icon {
    align-self: flex-end;
    margin-right: 1.5em;
    margin-bottom: 0.7em;
    display: block;
    color: #fff;
  }

  .header__icon:hover {
    color: white;
  }

  .header.active {
    display: flex;
    flex-direction: column;
    height: 12rem;
  }
  .dark-button.active {
    margin-top: 1em;
    align-self: flex-start;
    display: block;
  }
  .active .header__a {
    display: flex;
    padding: 0;
    font-size: 1.3rem;
  }
  .active .header__menu {
    padding: 0;
  }
  .text {
    font-size: 16px;
  }

  .aboutme__card {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .aboutme__picture,
  .aboutme__flip-card,
  .aboutme__flip-card-back,
  .aboutme__flip-card-front,
  .aboutme__flip-card,
  .aboutme__flip-card-inner {
    width: 26em;
    height: 35em;
    margin-right: 1em;
  }

  .aboutme__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.3rem;
    margin-bottom: 1em;
  }

  .aboutme__title-2,
  .aboutme__p {
    text-align: center;
  }
}
